@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

/* make a custom utility class  */
@theme{
     --font-display: "Rubik", sans-serif;
     --break-point-3xl : 1920px ;
     --color-primary: #875cf5;
}


@layer base{
    html {
        font-family: var(--font-display);

    }
    body{
        background-color: rgb(238, 233, 243);
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-2 border border-slate-200 ;
}

.btn-primary{
    @apply w-full py-3 font-semibold text-white bg-primary rounded-[4px] 
}